//variables in scss
$primary-color:rgb(62, 58, 58);
$accent-color:rgb(240, 18, 18);
$text-color:rgb(252, 252, 252);
$mobile-size:800px;
//maps list of key values

$font-weights:(
    "regular":400,
    "meduim":500,
    "bold":700
);